<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><h1 class="center1"> Le nombre de ponctuation dans un texte!</h1>
<div class="center">
    <input [(ngModel)]="textDto.value" type="text" value="display">
    <input type="button" value="calculer" (click)="calculate()">
    <h1 class="center3">{{ponctuationcountResult.value}}</h1>
</div>

<br>